@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  font-family: 'Lora', serif;
}

.footer-margin {
  background-color: black;
  color: white;
  padding: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 140px;
}

.footer-data > a {
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 5px;
  font-size: 12px;
}

.footer-data > a:hover {
  color: rgb(234, 234, 234);
}

.copyright-word {
  font-size: 12px;
}

.logo-store {
  color: white;
}
