.mobile {
  height: auto;
  margin: auto;
  border: none;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.homepage-top {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}

.account-button {
  border: none;
  color: transparent;
  background-color: transparent;
}

.account-button:hover {
  cursor: pointer;
}

.name-bar {
  display: flex;
  flex-direction: column;
}

.font-size {
  font-size: 12px;
  text-align: start;
  margin-left: 5px;
}

.font-name {
  font-weight: bold;
  font-size: 15px;
  text-align: start;
  margin-left: 5px;
}

.font-name2 {
  font-weight: bold;
  font-size: 13px;
  text-align: start;
  margin-left: 5px;
  color: rgb(160, 4, 4);
}

.button-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.button-category2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 10px;
}

.button-categories {
  border: none;
  background-color: rgb(234, 234, 234);
  transition: color 250ms ease-in-out;
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.button-categories:hover {
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(92, 107, 192, 0.2),
    0px 2px 4px rgba(59, 69, 123, 0.2);
}

.search-bar-detail {
  display: flex;
  flex-direction: row;
}

.search-bar {
  border: none;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(234, 234, 234);
  padding: 5px;
}

.button-category > button {
  margin: 5px;
}

.cart-icon {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-text{
  font-size: 11px;
  color: gray;
  margin-left: 4px;
}

.home-button-login{
  border: none;
  background-color: transparent;
  line-height: 2px;
  text-decoration: none;
}

.home-button-login:hover{
  cursor: pointer;
}

.carousel-image {
  width: 450px;
  height: 250px;
}

.logout-btn {
  border: none;
  background: transparent;
  text-decoration: none;
}

.logout-btn :hover{
  cursor: pointer;
}

.profile-btn{
  text-decoration: none;
}

.logout-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.app-name{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}
