@import url(https://fonts.googleapis.com/css?family=Lora);

body,
div {
  font-family: 'Lora', serif;
}

.my-order-main {
  position: relative;
  margin: auto;
  height: 83vh;
  /* height: 87vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}

.my-order-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.my-order-banner-text {
  font-size: 20px;
  padding-top: 6px;
  margin-left: 5px;
}

.my-order-banner-search {
  margin-left: 155px;
}

.my-order-search {
  display: flex;
  flex-direction: row;
  height: 33px;
  margin-top: 6px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(234, 234, 234);
}

.my-order-tab {
  margin-top: 0px;
}

.my-order-og {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.my-order-og-logo {
  height: 180px;
  margin-top: 100px;
}

.my-order-og-text-1 {
  font-size: larger;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.my-order-og-text-2 {
  font-size: medium;
  text-align: center;
  color: grey;
  margin-top: 15px;
}

.my-order-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.moc-main {
  width: 100%;
  height: 150px;
  /* border: 1px darkgray solid; */
  background-color: rgba(211, 211, 211, 0.19);
  margin-bottom: 13px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
}

.moc-image {
  height: 140px;
  border-radius: 10px;
  margin-top: 2.5px;
}

.moc-product {
  height: 140px;
  border-radius: 10px;
}

.moc-detail {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.moc-detail.name {
  height: 40%;
  font-size: 12px;
  font-weight: bolder;
}

.moc-detail-subname {
  height: 15%;
  font-size: 10px;
  color: grey;
}

.moc-detail-status-1,
.moc-detail-status-2,
.moc-detail-status-3,
.moc-detail-status-4,
.moc-detail-status-5,
.moc-detail-status-6 {
  margin-top: 3px;
  font-size: 8px;
  text-align: center;
  padding: 5px;
  width: 93px;
  height: 13px;
  border-radius: 20px;
}

.moc-detail-bottom {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 10px;
}

.moc-detail-bottom-price {
  margin-top: 9px;
  font-size: 12px;
}

.moc-detail-bottom-track {
  height: 80%;
  width: 65px;
  font-size: 8px;
  padding: 6px;
}
