.changepass-wrapper{
    padding-right: 500px;
    padding-left: 500px;
}

.changepass-topside{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.changepass-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrowback{
    background-color: transparent;
    border: none;
    margin-left: -3px;
}

.arrowback:hover{
    cursor: pointer;
}

.changepass-text{
    font-size: 30px;
    margin-left: 20px;
    margin-top: -10px;
    font-weight: 500;
}

.changepass-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.changepass-img{
    width: 300px;
    height: 300px;
}

.changepass-botside{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.changepass-email-text{
    font-weight: 500;
    font-size: 20px;
}

.email-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.email-icon{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0.2px solid rgb(168, 168, 168);
    font-size: 20px;
    margin-right: 4px;
    line-height: 35px;
    text-align: center;
    line-height: 55px;
    margin-top: 10px;
    background-color: rgb(230, 230, 230);
}

.email-input{
    margin-top: 5px;
}

.changepass-email{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 0.5px solid gray;
    text-align: center;
    font-size: 25px;
}

.divider{
    margin-top: 10px;
}

.changepass-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.changepass-continue{
    width: 480px;
    height: 50px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

.changepass-continue:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: 500;
}

.reset-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.reset-input{
    width: 400px;
    height: 50px;
    border: none;
    text-align: center;
    font-size: 25px;
    background: transparent;
}

.reset-input:focus{
    outline: none;
}

.password-input{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid gray;
    border-radius: 25px;
}

.toggle-vis{
    border: none;
    background: transparent;
    margin-top: 5px;
}

.toggle-vis:hover{
    cursor: pointer;
}