.changepass-wrapper{
    max-width: 320px;
    position: relative;
    margin: auto;
    border: 1px solid salmon;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.changepass-topside{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.changepass-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrowback{
    background-color: transparent;
    border: none;
    margin-left: -20px;
}

.arrowback:hover{
    cursor: pointer;
}

.changepass-text{
    font-size: 25px;
    margin-left: 20px;
    margin-top: -10px;
    font-weight: 500;
}

.changepass-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.changepass-img{
    width: 300px;
    height: 300px;
}

.changepass-botside{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.changepass-email-text{
    font-weight: 500;
    font-size: 20px;
}

.email-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    max-width: 320px;
}

.email-icon{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0.2px solid rgb(168, 168, 168);
    font-size: 20px;
    margin-right: 4px;
    line-height: 35px;
    text-align: center;
    line-height: 55px;
    margin-top: 10px;
    background-color: rgb(230, 230, 230);
}

.email-input{
    margin-top: 5px;
}

.changepass-email{
    width: 250px;
    border: none;
    border-bottom: 1px solid gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(247, 245, 245);
    height: 40px;
}

.divider{
    margin-top: 10px;
}

.changepass-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.changepass-continue{
    width: 320px;
    height: 35px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

.changepass-continue:hover{
    cursor: pointer;
    background-color: blue;
    font-weight: 500;
    border: none;
    transition: 0.5s;
}

.reset-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.reset-input{
    width: 300px;
    height: 50px;
    border: none;
    text-align: start;
    font-size: 15px;
    background: transparent;
    margin-left: 10px;
}

.reset-input:focus{
    outline: none;
}

.password-input{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(247, 245, 245);
    height: 40px;
}

.password-input:hover{
    border-bottom: 1.5px solid black;
    transition: 0.5s ;
}

.toggle-vis{
    border: none;
    background: transparent;
    margin-top: 5px;
    fill: gray;
}

.toggle-vis:hover{
    cursor: pointer;
}