.mobile {
    height: auto;
    margin: auto;
    border: none;
    padding: 20px;
}

.product-page {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.product-arrow-search {
    display: flex;
    flex-direction: row;
}

.product-arrow-search > div {
    font-weight: bold;
}

.search-bar-detail {
    display: flex;
    flex-direction: row;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.product-list {
    width: 140px;
    height: auto;
    margin: 5px;
    font-weight: bold;
    border: 1px black solid;
}

.product-list > img {
    width: 130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}