@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  font-family: 'Lora', serif;
}

.apc-main {
  position: relative;
  margin: auto;
  height: max-content;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apc-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.apc-banner-text {
  font-size: 20px;
  padding-top: 0px;
  margin-left: 5px;
  width: 300px;
}

.apc-banner-menu {
  /* margin-left: 5px; */
}

.apc-banner-menu-link {
  color: black;
  text-decoration: none;
}

.apc-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.apc-card {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 25px;
  padding: 10px;
  background-color: rgb(234, 234, 234);
  width: 90%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
  align-items: center;
}

.apc-card-text {
  margin-left: 10px;
  width: 190px;
}

/* .apc-card-text-input {
  margin-left: 10px;
  width: 180px;
  height: 20px;
} */

.apc-card-input {
  border: none;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(234, 234, 234);
  padding: 5px;
}

.apc-card-icon-select {
  height: 50px;
  border-radius: 50px;
  width: auto;
}

.apc-card-edit,
.apc-card-delete {
  height: 80%;
  width: 65px;
  font-size: 8px;
  padding: 6px;
}

.apc-add {
  /* position: fixed; */
  /* top: 77%; */
  margin-top: 5px;
  border: 1px solid rgb(90, 86, 86);
  background-color: white;
  width: 370px;
  height: 35px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  color: black;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.apc-add:hover {
  cursor: pointer;
  background-color: rgb(233, 224, 224);
}

.apc-add:active {
  background-color: black;
  cursor: pointer;
  color: white;
  margin: 1px solid black;
}
