@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  font-family: 'Lora', serif;
}

.pladmin-main {
  position: relative;
  margin: auto;
  height: 83vh;
  /* height: 87vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pladmin-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.pladmin-banner-text {
  font-size: 20px;
  padding-top: 2px;
  margin-left: 5px;
  width: 180px;
}

.pladmin-banner-search {
  margin-left: 40px;
}

.pladmin-banner-add {
}

.pladmin-banner-menu-link {
  color: black;
  text-decoration: none;
}

.pladmin-search {
  display: flex;
  flex-direction: row;
  height: 33px;
  margin-top: 6px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(234, 234, 234);
}

.pladmin-content {
  margin-top: 20px;
}

.plc-main {
  width: 350px;
  height: 150px;
  /* border: 1px darkgray solid; */
  background-color: rgba(211, 211, 211, 0.19);
  margin-bottom: 13px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
}

.plc-image {
  height: 140px;
  border-radius: 10px;
  margin-top: 2.5px;
  width: 110px;
}

.plc-product {
  height: 140px;
  border-radius: 10px;
}

.plc-detail {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 240px;
}

.plc-detail-name {
  height: 40%;
  font-size: 18px;
  font-weight: bolder;
}

.plc-detail-subname {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.plc-detail-subname-1 {
  font-size: 8px;
  color: grey;
}

.plc-detail-subname-2 {
  font-size: 10px;
  color: grey;
  margin-left: 5px;
  margin-top: 5px;
}

.plc-detail-subname-3 {
  font-size: 10px;
  color: grey;
  margin-top: 5px;
}

.plc-detail-bottom {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 10px;
  margin-top: 6px;
  margin-left: 60px;
}

.plc-detail-bottom-delete,
.plc-detail-bottom-detail {
  height: 80%;
  width: 65px;
  font-size: 8px;
  padding: 6px;
}
