.profilePage{
  max-width: 320px;
  position: relative;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.backPage{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding-top: 30px;
  height: 15%;
  align-self: flex-start;
}


.profileUserImg{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  left: 0;
  right: 0;
  border: 3px solid white;
  margin-bottom: 30px;
}


.profilebar {
    background-color:white;
    margin-top: 15px;
    position: sticky;
    width: 95%;
    height: 120px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin-bottom: 30px;
  }
  

  
  .profileWrapper {
    padding: 20px;
  }
  
  .profileList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .profileListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profileIcon {
    margin-right: 15px;
  }
  
.profileOption{
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.optionBtn{
  border: 1px solid rgb(90, 86, 86);
  background-color: white;
  /* padding: 13px 60px; */
  width: 300px;
  height: 50px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  color: black;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.optionBtnText{
 margin-left: 20px;
 margin-right: 20px;
}

.optionBtn:hover{
  cursor: pointer;
  background-color: rgb(233, 224, 224);
}

.optionBtn:active{
    background-color: black;
    cursor: pointer;
    color: white;
    margin: 1px solid black;
}