.sign-in-main {
  max-width: 320px;
  position: relative;
  margin: auto;
  /* background-color: lightgray; */
  border: 1px solid salmon;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.sign-in-picture {
  height: 30%;
}

.sign-in-label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
  padding-top: 30px;
  height: 15%;
  /* justify-content: center; */
  /* margin-left: 85px; */
  /* padding-top: 100px; */
}

.sign-up-label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
  padding-top: 30px;
  height: 15%;
}

.sign-in-social-form {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.sign-in-form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 45%;
  justify-content: space-evenly;
  /* margin-left: 108px; */
  /* margin-top: 60px; */
}

.sign-up-form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 45%;
  justify-content: space-evenly;
  /* margin-left: 108px; */
  /* margin-top: 60px; */
}

.sign-in-form-input {
  width: 100%;
  background-color: rgba(224, 219, 219, 0.251);
  border-radius: 5px;
  padding: 12px;
  /* height: 30%; */
  /* border: 1px solid white; */
}

.sign-in-form-check {
  /* height: 10%; */
}

.sign-in-form-button {
  width: 100%;
  /* height: 30%; */
}

.sign-in-form-forgot {
  font-weight: 900;
}

.sign-in-social {
  height: 30%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sign-in-social-social {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.sign-in-social-1 {
  text-align: center;
}

.sign-in-social-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sign-in-social-2-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sign-in-social-2-fb {
  /* width: 33%; */
}

.sign-in-social-2-g {
  /* width: 33%; */
}

.sign-in-social-2-a {
  /* width: 33%; */
}

.sign-in-register {
  height: 10%;
  width: 77%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sign-in-register-1 {
  color: grey;
}
