@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  font-family: 'Lora', serif;
}

.whmanagement-main {
  position: relative;
  margin: auto;
  height: 83vh;
  /* height: 87vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whmanagement-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.whmanagement-banner-text {
  font-size: 20px;
  padding-top: 2px;
  margin-left: 5px;
  width: 170px;
}

.whmanagement-banner-search {
  margin-left: 65px;
}

.whmanagement-banner-add {
}

.whmanagement-banner-menu-link {
  color: black;
  text-decoration: none;
}

.whdetail-disabled{
  pointer-events: none;
  text-decoration: none;
}

.whmanagement-search {
  display: flex;
  flex-direction: row;
  height: 33px;
  margin-top: 6px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(234, 234, 234);
}

.whmanagement-content {
  margin-top: 20px;
}

.wmc-main {
  width: 350px;
  height: 150px;
  /* border: 1px darkgray solid; */
  background-color: rgba(211, 211, 211, 0.19);
  margin-bottom: 13px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
}

.wmc-image {
  height: 140px;
  border-radius: 10px;
  margin-top: 2.5px;
  max-width: 140px;
}

.wmc-product {
  height: 140px;
  border-radius: 10px;
  max-width: 140px;
}

.wmc-detail {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 240px;
}

.wmc-detail.name {
  height: 40%;
  font-size: 14px;
  font-weight: bolder;
}

.wmc-detail-subname {
  /* height: 15%; */
  margin-top: 5px;
  font-size: 12px;
  color: grey;
}

.wmc-detail-bottom {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 10px;
  margin-top: 35px;
  margin-left: 35px;
}

.wmc-detail-bottom-delete,
.wmc-detail-bottom-edit,
.wmc-detail-bottom-detail {
  height: 80%;
  width: 65px;
  font-size: 8px;
  padding: 6px;
}
